.cover {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-indext: 0;
}
.moveup {
   position: absolute;
   transform: translateY(0);
   z-index: 1;
}